name: Application - Build

on:
  workflow_call:
    inputs:
      application-name:
        required: true
        type: string
      install-dependencies:
        type: boolean
        default: false
      dockerfile-location:
        type: string
        default:  ./

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install NodeJS
        if: ${{ inputs.install-dependencies }}
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        if: ${{ inputs.install-dependencies }}
        run: |
          echo "@codbex:registry=https://npm.pkg.github.com
          //npm.pkg.github.com/:_authToken=${{ secrets.GH_TOKEN }}" > .npmrc
          npm install
          rm -rf .npmrc

      - name: Build and Push Docker Image
        run: |
          cd ${{ inputs.dockerfile-location }}
          docker buildx create --name codbex-builder
          docker buildx use codbex-builder
          docker buildx build --tag ${{ inputs.application-name }} -o type=image --platform=linux/arm64,linux/amd64 .
          docker login ghcr.io -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker buildx build --push --tag ghcr.io/codbex/${{ inputs.application-name }}:latest -o type=image --platform=linux/arm64,linux/amd64 .
