name: Platform - Release

on:
  workflow_call:
    inputs:
      platform-name:
        required: true
        type: string
      release-version:
        type: string
        required: true
      snapshot-version:
        type: string
        required: true
      release-content:
        type: string
        required: true
      maven-release:
        type: boolean
        default: false
      buildx-enabled:
        type: boolean
        default: true
    
run-name: 'version set to ${{ inputs.release-version }} for release'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        token: ${{ secrets.GH_TOKEN }}
        fetch-depth: 0

    - name: Cache local Maven repository
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-

    - name: Set up JDK Corretto 20
      if: ${{ !inputs.maven-release }}
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: '20'
        architecture: x64

    - name: Set up JDK Corretto 20 with Maven Release Properties
      if: ${{ inputs.maven-release }}
      uses: actions/setup-java@v3
      with:
        distribution: 'corretto'
        java-version: '20'        
        server-id: ossrh
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
        architecture: x64

    - name: "Configure Git"
      run: |
        git fetch
        git checkout ${{ inputs.branch }}
        git config user.name "${{ secrets.GH_USERNAME }}"
        git config user.email "${{ secrets.GH_EMAIL }}"

    - name: Maven Set Release Version
      run: |
        mvn versions:set -DnewVersion=${{ inputs.release-version }}
        git add .
        git commit -m "version set to ${{ inputs.release-version }} for release"

    - name: Maven Build
      run: mvn clean install

    - name: Build and Push Docker Image
      if: ${{ !inputs.buildx-enabled }}
      run: |
        cd application
        docker build --tag ${{ inputs.platform-name }} .
        docker login ghcr.io -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        docker push --tag ghcr.io/codbex/${{ inputs.platform-name }}:${{ inputs.release-version }}

    - name: Build and Push Docker Image (buildx)
      if: ${{ inputs.buildx-enabled }}
      run: |
        docker buildx create --name codbex-builder
        docker buildx use codbex-builder
        cd application
        docker buildx build --tag ${{ inputs.platform-name }} -o type=image --platform=linux/arm64,linux/amd64 .
        docker login ghcr.io -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
        docker buildx build --push --tag ghcr.io/codbex/${{ inputs.platform-name }}:${{ inputs.release-version }} -o type=image --platform=linux/arm64,linux/amd64 .

    - name: Maven Publish Package
      if: ${{ inputs.maven-release }}
      run: mvn deploy -P release -DskipTests
      env:
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
        GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}

    - name: Maven Set Snapshot Version
      run: |
        mvn versions:set -DnewVersion=${{ inputs.snapshot-version }}
        git add .
        git commit -m "version set to ${{ inputs.snapshot-version }} for development"
        git push origin main
        git checkout -b ${{ inputs.release-version }}
        git push --set-upstream origin ${{ inputs.release-version }}

    - name: "Create Release"
      uses: softprops/action-gh-release@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag_name: v${{ inputs.release-version }}
        name: ${{ inputs.release-version }}
        draft: false
        prerelease: false
        files: |
          LICENSE
        body: ${{ inputs.release-content }}
